<footer class="footer">
	<div class="container">
		<div class="footer-logo"><a href="#"><img src="images/footer-logo.png" alt=""></a></div>
		<span class="copyright">&copy; 2019 The Bike Shepherd. All Rights Reserved.</span>

	</div>
</footer>