<!--main-nav-start-->
<nav class="main-nav-outer" id="test">
	<div class="container">
		<ul class="main-nav">
			<li><a href="/profile">Profile</a></li>
			<li><a href="/register">Register Bike</a></li>
			<li><a href="/services">Services</a></li>
			<li class="small-logo"><a href="#"><img src="images/small-logo.png" alt=""></a></li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="/team">Team</a></li>
			<li><a href="/logout" class="link animated fadeInUp delay-1s servicelink">Log Out</a></li>
		</ul>
		<a class="res-nav_click" href="#"><i class="fas fa-bars"></i></a>
	</div>
</nav>
<!--main-nav-end-->


