<div class="header" id="header">
		<!--header-start-->
		<div class="container main-section">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="images/logo.png" alt=""></a>
			</figure>
			<h1>{{msg}}</h1>
			<h1 class="animated fadeInDown delay-07s">Welcome to The Bike Shepherd</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Register your bike to help fight theft. Empower yourself today.</li>
			</ul>

				<!--modal: login / register form-->
			<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog cascading-modal" role="document">
					<!--content-->
					<div class="modal-content">

						<!--modal cascading tabs-->
						<div class="modal-c-tabs">

							<!-- nav tabs -->
							<ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
										Log In</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
										Register</a>
								</li>
							</ul>

							<!-- tab panels -->
							<div class="tab-content">
								<!--panel 7-->
								<div class="tab-pane fade in show active" id="panel7" role="tabpanel">

									<!--body-->
									<form action="/login" method="post">
										<div class="modal-body mb-1">
											<div class="md-form form-sm mb-5">
												<label data-error="wrong" data-success="right" for="modalLRInput10">Your Username:</label>
												<input type="text" name="username" id="modalLRInput10" class="form-control form-control-sm validate"/>
											</div>
											<div class="md-form form-sm mb-4">
												<label data-error="wrong" data-success="right" for="modalLRInput11">Your Password:</label>
												<input type="password" name="password" id="modalLRInput11" class="form-control form-control-sm validate"/>
												<i class="fas fa-lock prefix"></i>
											</div>
											<div class="text-center mt-2">
												{{!-- <input class="btn btn-info" type="submit" id="loginButton" value="Login"/> --}}
												<button type="submit" class="btn btn-info" value="Submit">Log In </button> 
												{{!-- <button class="btn btn-info" id="loginButton" type="submit">Log in <i class="fas fa-sign-in ml-1"></i></button> --}}
											</div>
										</div>
									</form>
									<!--footer-->
									<div class="modal-footer">
										<div class="options text-center text-md-right mt-1">
											<p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
											{{!-- <p>Forgot <a href="#" class="blue-text">Password?</a></p> Commented out until we add this feature --}}
										</div>
										<button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
									</div>

								</div>
								<!--/.panel 7-->

								<!--panel 8-->
								<div class="tab-pane fade" id="panel8" role="tabpanel">

									<!--body-->
									<form action="/signup" method="post">
										<div class="modal-body">
											<div class="md-form form-sm mb-5">
												<input type="text" name="name" id="registerName" class="form-control form-control-sm validate"/>
												<label data-error="wrong" data-success="right" for="registerName">Your Name</label>
											</div>
											<div class="md-form form-sm mb-5">
												<input type="text" name="username" id="registerUsername" class="form-control form-control-sm validate"/>
												<label data-error="wrong" data-success="right" for="registerUsername">Username</label>
											</div>

											<div class="md-form form-sm mb-5">
												<i class="fas fa-envelope prefix"></i>
												<input type="email" id="modalLRInput12" id="registerEmail" class="form-control form-control-sm validate">
												<label data-error="wrong" data-success="right" for="registerEmail">Email</label>
											</div>

											<div class="md-form form-sm mb-5">
												<i class="fas fa-lock prefix"></i>
												<input type="password" id="modalLRInput13" id="registerPassword" class="form-control form-control-sm validate">
												<label data-error="wrong" data-success="right" for="registerPassword">Password</label>
											</div>

											<div class="md-form form-sm mb-4">
												<i class="fas fa-lock prefix"></i>
												<input type="password" id="modalLRInput14" id="registerConfirmPassword" class="form-control form-control-sm validate">
												<label data-error="wrong" data-success="right" for="registerConfirmPassword">Repeat Password</label>
											</div>

											<div class="text-center form-sm mt-2">
												{{!-- <button class="btn btn-info">Sign Up <i class="fas fa-sign-in ml-1"></i></button> --}}
												<button type="submit" class="btn btn-info" value="Submit" id="signUp">Sign Up</button> 
											</div>

										</div>
									</form>
									<!--footer-->
									<div class="modal-footer">
										<div class="options text-right">
											<p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
										</div>
										<button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
									</div>
								</div>
								<!--/.panel 8-->
							</div>

						</div>
					</div>
					<!--/.content-->
				</div>
			</div>
			<!--modal: login / register form-->

			<div> <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Start Here</a>
			</div>


			</div>
	</div>
	<script src="js/registerform.js"></script>
	<!--header-end-->
  