{{> navbar_partial }}


<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Resources</h2>
        <br>
        <h3 class="text-align-center">Things to keep in mind after you register your bike with us</h3>
        <br>
        <div class="team-leader-block clearfix">

            <div class="team-leader-box">
                <div class="card col-sm">
                    <img src="images/uLock.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Choose a good lock!</h5>
                        <p class="card-text">Use a U-Lock instead of a Cable Lock.  Follow this guide for more information</p>
                        <a href="http://thebestbikelock.com/best-u-lock/" class="btn btn-primary">The Best Lock</a>
                    </div>
                </div>
            </div>            


            <div class="team-leader-box">
                <div class="card col-sm">
                    <img src="images/locking3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">How to Lock your Bike</h5>
                        <p class="card-text">A Quick guide from the SF Bike Coalition on how to properly lock your
                            bike.</p>
                        <a href="https://sfbike.org/resources/theft-locking/" class="btn btn-primary">Locking Up</a>
                    </div>
                </div>
            </div>
                <div class="team-leader-box">
                    <div class="card col-sm">
                        <img src="images/newBike.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Consider Insurance</h5>
                            <p class="card-text">A short article from The Best Bike Lock about insurance coverage.</p>
                            <a href="http://thebestbikelock.com/best-bicycle-insurance/" class="btn btn-primary">Bike
                                Insurance</a>
                        </div>
                    </div>
                </div>

                    <div class="team-leader-box">
                        <div class="card col-sm">
                            <img src="images/sherlock.png" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">GPS Tracking</h5>
                                <p class="card-text">Track your bike's location with this spcially designed GPS device.</p>
                                <a href="https://www.sherlock.bike/en/" class="btn btn-primary">Sherlock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>
</div>

{{> footer_partial }}