{{> navbar_partial }}


<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Resources</h2>

        <div class="team-leader-block clearfix">
            <div class="team-leader-box">


{{!-- add static content here --}}



            </div>
        </div>


</section>
</div>

{{> footer_partial }}