{{> navbar_partial }}

<section class="main-section" id="service">
	<!--main-section-start-->
	<div class="container">
		<h2>The Bike Shepherd</h2>
		{{!-- <h6>Empower yourself today by registering your bike with us.</h6> --}}
	</div>
</section>

<div class="container">
	<section class="main-section register" id="register">

		<div class="row justify-content-md-center">
			<div class="col-md-6 wow fadeInUp delay-05s center-block">
                <h2> Search </h2>
				<div class="form">
					<div id="sendmessage"></div>
					<div id="errormessage"></div>
					<form action="" method="post" role="form" class="registerForm">
						<div class="form-group">
							<input id="color" type="text" class="form-control input-text" name="color" id="color" placeholder="Color" data-rule="minlen:4"
							 data-msg="Please enter at least 4 letters for the bike color." />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input id="brand" type="text" class="form-control input-text" name="brand" id="brand" placeholder="Brand" data-rule="minlen:4"
							 data-msg="Please enter at least 4 characters for the bike brand." />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input id="serialNumber" type="text" class="form-control input-text" name="serialNumber" id="serialNumber" placeholder="Serial Number "
							 data-rule="minlen:4" data-msg="Please enter at least 4 digits for the bike serialNumber." />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input id="model" type="text" class="form-control input-text" name="model" id="model" placeholder="Model" data-rule="minlen:4"
							 data-msg="Please enter at least 4 characters for the bike model." />
							<div class="validation"></div>
						</div>
						<div class="text-center"><button id="searchbtn" type="submit" class="input-btn">Find My Bike!</button></div>
					</form>
				</div>
			</div>
		</div>
		<div class="row center-block py-4">
			<div class="col">
				<h3 class="text-center">Results</h3>
			</div>
		</div>
		<div class="row center-block">
			<div class="col" id="searchResults">
			</div>
		</div>

	</section>
</div>

<script src="js/bikeSearch.js"> </script>
{{> footer_partial }}