{{> navbar_partial }}


<section class="main-section" id="service">
	<!--main-section-start-->
	<div class="container">
		<h2>Services</h2>
		<h6>Let us help you locate your stolen bike.</h6>
		<div class="row">
			<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
				<div class="service-list">
					<div class="service-list-col1">
						<i class="fas fa-bicycle"></i>
					</div>
					<div class="service-list-col2">
						<h3>who we are</h3>
						<p>The Bike Shepherd is comprised of a team of four individuals currently enrolled in the Full Stack Web
							Development at UC Berkeley.
						</p>
					</div>
				</div>
				<div class="service-list">
					<div class="service-list-col1">
						<i class="fas fa-cogs"></i>
					</div>
					<div class="service-list-col2">
						<h3>the bike shepherd</h3>
						<p>We are a website that empowers bike owners to prevent bicycle theft and aid in the recovery of stolen
							bicycles.</p>
					</div>
				</div>

				<div class="service-list">
					<div class="service-list-col1">
						<i class="fas fa-unlock-alt"></i>
					</div>
					<div class="service-list-col2">
						<h3>Support Service</h3>
						<p>Register your bike with The Bike Shepherd to have peace of mind and get support when your bike is lost or
							stolen.</p>
					</div>
				</div>
			</div>
			<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
				<img src="images/bikeEasterIsland.jpg" alt="">
			</figure>

		</div>
	</div>


<div class="container">
	{{!-- container for static links to preventative stuff maybe --}}
		<ul class="social-link">
			<li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
			<li class="gplus"><a href="#"><i class="fab fa-google-plus"></i></a></li>
			<li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
		</ul>
	</div>


</section>
<!--main-section-end-->


{{> footer_partial }}