<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#register">Register</a></li>
				<li><a href="#service">Services</a></li>

				<li class="small-logo"><a href="#header"><img src="images/small-logo.png" alt=""></a></li>

				<li><a href="#team">Team</a></li>
				<li><a href="/" class="link animated fadeInUp delay-1s servicelink">Log Out</a></li>
			</ul>

			<a class="res-nav_click" href="#"><i class="fas fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->

    <section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2>Services</h2>
			<h6>Let us help you locate your stolen bike.</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fas fa-bicycle"></i>
						</div>
						<div class="service-list-col2">
							<h3>who we are</h3>
							<p>The Bike Shepherd is comprised of a team of four individuals currently enrolled in the Full Stack Web
								Development at UC Berkeley.
							</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fas fa-cogs"></i>
						</div>
						<div class="service-list-col2">
							<h3>the bike shepherd</h3>
							<p>We are a website that empowers bike owners to prevent bicycle theft and aid in the recovery of stolen
								bicycles.</p>
						</div>
					</div>

					<div class="service-list">
						<div class="service-list-col1">
							<i class="fas fa-unlock-alt"></i>
						</div>
						<div class="service-list-col2">
							<h3>24/7 Support</h3>
							<p>Register your bike with The Bike Shepherd to receive 24/7 support when your bike is lost or stolen.</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="images/bikeEasterIsland.jpg" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->