{{> navbar_partial }}


<section class="main-section" id="stolen">
    <!--main-section-start-->
    <div class="container">
        <div class="team-leader-block clearfix" align="center">
            <h2>Your bike was stolen?! Oh No!</h2>
            <br>
            <img src="/images/panic.gif">
            <br>
            <h2> We've got your back.</h2>
        </div>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Step 1</h5>
                        <p class="card-text">File a police report with your local police department</p>
                        <a href="http://sanfranciscopolice.org/reportS" class="btn btn-danger">San Francisco</a>
                        <a href="hhttps://secure.coplogic.com/dors/en/filing/selectincidenttype?dynparam=1548283102920"
                            class="btn btn-danger">Oakland</a>
                        <a href="https://www.cityofberkeley.info/onlinepolicereport/" class="btn btn-danger">Berkeley</a>
                        <a href="http://www.sjpd.org/reportingcrime/onlinereport/" class="btn btn-danger">San Jose</a>
                    </div>
                </div>
            </div>

            <div class="team-leader-box">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Step 2</h5>
                        <p class="card-text">Use If This Than That to setup alerts for new bikes getting posted to
                            Craigs List</p>
                        <a href="https://ifttt.com/applets/79p-get-an-email-whenever-a-new-craigslist-post-matches-your-search"
                            class="btn btn-danger">IFTTT</a>
                    </div>
                </div>
            </div>

            <div class="team-leader-box">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Step 3</h5>
                        <p class="card-text">Bike Thieves use other sites to flip stolen goods too. Use Search Tempest
                            to find them.</p>
                        <a href="https://www.searchtempest.com/" class="btn btn-danger">Search Tempest</a>
                    </div>
                </div>
            </div>

            <div class="team-leader-box">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Step 4</h5>
                        <p class="card-text">Bike Index runs 4 local twitter accounts that post stolen bikes, both
                            automatically from their sites and from user submissions, keep your eyes peeled for yours!</p>
                        <a href="https://twitter.com/stolenbikessfo" class="btn btn-danger">San Francisco</a>
                        <a href="https://twitter.com/stolenbikesoak" class="btn btn-danger">Oakland</a>
                        <a href="https://twitter.com/stolenbikesbrk" class="btn btn-danger">Berkeley</a>
                        <a href="https://twitter.com/stolenbikessj" class="btn btn-danger">San Jose</a>

                    </div>
                </div>
            </div>

</section>

</div>

{{> footer_partial }}