<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="/register">Register</a></li>
				<li><a href="/services">Services</a></li>

				<li class="small-logo"><a href="#"><img src="images/small-logo.png" alt=""></a></li>

				<li><a href="/team">Team</a></li>
				<li><a href="/" class="link animated fadeInUp delay-1s servicelink">Log Out</a></li>
			</ul>

			<a class="res-nav_click" href="#"><i class="fas fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->


<section class="main-section team" id="team">
	<!--main-section team-start-->
	<div class="container">
		<h2>team</h2>
		<h6>Our team members are here to help answer any questions you may have. Contact us.</h6>
		<div class="team-leader-block clearfix">
			<div class="team-leader-box">
				<div class="team-leader wow fadeInDown delay-03s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-james.png" alt="">
					<ul>
						<li><a href="#" class="fab fa-linkedin" target="_blank"></a></li>
						<li><a href="https://github.com/agunforhire" class="fab fa-github" target="_blank"></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-03s">James</h3>
				<span class="wow fadeInDown delay-03s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader  wow fadeInDown delay-06s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-michael.png" alt="">
					<ul>
						<li><a href="#" class="fab fa-linkedin" target="_blank"></a></li>
						<li><a href="https://github.com/michaelwhittemore" class="fab fa-github" target="_blank"></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-06s">Michael</h3>
				<span class="wow fadeInDown delay-06s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader wow fadeInDown delay-09s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-scott.png" alt="">
					<ul>
						<li><a href="https://www.linkedin.com/in/michaelwhittemore/" class="fab fa-linkedin" target="_blank"></a></li>
						<li><a href="https://github.com/scotteratigan" class="fab fa-github" target="_blank"></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-09s">Scott</h3>
				<span class="wow fadeInDown delay-09s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader  wow fadeInDown delay-06s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-susye.jpg" alt="">
					<ul>
						<li><a href="https://www.linkedin.com/in/susye-weng-reeder/" class="fab fa-linkedin" target="_blank"></a></li>
						<li><a href="https://github.com/eveasian88" class="fab fa-github" target="_blank"></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-06s">Susye</h3>
				<span class="wow fadeInDown delay-06s">Linguist & Developer</span>
				
			</div>
		</div>
	</div>
</section>
<!--main-section team-end-->

<footer class="footer">
	<div class="container">
		<div class="footer-logo"><a href="#"><img src="images/footer-logo.png" alt=""></a></div>
		<span class="copyright">&copy; 2019 The Bike Shepherd. All Rights Reserved.</span>

	</div>
</footer>