{{> navbar_partial }}


<section class="main-section team" id="team">
	<!--main-section team-start-->
	<div class="container">
		<h2>team</h2>
		<h6>Our team members are here to help answer any questions you may have. Contact us.</h6>
		<div class="team-leader-block clearfix">
			<div class="team-leader-box">
				<div class="team-leader wow fadeInDown delay-03s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-james.png" alt="">
					<ul>
						<li><a href="https://www.linkedin.com/in/james-d-wilcox/" target="_blank"> <i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/agunforhire" target="_blank"><i class="fab fa-github"></i></a></li>
							
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-03s">James</h3>
				<span class="wow fadeInDown delay-03s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader  wow fadeInDown delay-06s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-michael.png" alt="">
					<ul>
						<li><a href="https://www.linkedin.com/in/michaelwhittemore/" target="_blank"> <i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/michaelwhittemore" target="_blank"> <i class="fab fa-github"></i></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-06s">Michael</h3>
				<span class="wow fadeInDown delay-06s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader wow fadeInDown delay-09s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-scott.png" alt="">
					<ul>
						<li><a href="#" target="_blank"> <i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/scotteratigan" target="_blank"> <i class="fab fa-github"></i></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-09s">Scott</h3>
				<span class="wow fadeInDown delay-09s">Full Stack Developer</span>
			</div>
			<div class="team-leader-box">
				<div class="team-leader  wow fadeInDown delay-06s">
					<div class="team-leader-shadow"><a href="#"></a></div>
					<img src="images/team-leader-susye.jpg" alt="">
					<ul>
						<li><a href="https://www.linkedin.com/in/susye-weng-reeder/" target="_blank"> <i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/eveasian88" target="_blank"> <i class="fab fa-github"></i></a></li>
					</ul>
				</div>
				<h3 class="wow fadeInDown delay-06s">Susye</h3>
				<span class="wow fadeInDown delay-06s">Linguist & Developer</span>
				
			</div>
		</div>
	</div>
</section>
<!--main-section team-end-->


{{> footer_partial }}